* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Maven Pro', sans-serif;
}

$color-text: #0C0B31;
$font: 'proxima-nova', sans-serif;
$color-link: #785EF0;

//section one
.main__section {
    background: #785EF0;

    .container {
        min-height: 800px;
    
        .wrapper-lyft {
            margin: 0px 0px 0px 16px;
            padding: 32px 0px 0px 64px;
        }
    
        .wrapper {
            margin: 0 auto;
            padding: 0 20px;
            margin-top: 100px;
            max-width: 1170px;
          
            .main-title {
                h1 {
                    color: white;
                    font-size: 80px;
                    line-height: 92px;
                }
            }
    
            @media screen and (max-width: 1100px) {
                .main-title {
                    h1 {
                        font-size: 60px;
                    }
                }
            }
    
            @media screen and (max-width: 790px) {
                .main-title {
                    h1 {
                        font-size: 50px;
                    }
                }
            }
    
            .sing-up-to-drive {
                padding: 24px 0px 0px;
                font-family: $font;
    
                .title__sing {
                    color: #fff;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.5;
                }
    
                .text__sing {
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
    
            .content {
                margin: 13px 0px 20px 0px;
                font-family: $font;
    
                .wrapper-phone {
                    position: relative;
                    .phone-number {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 20px 0px;
                        .frst__lab {
                            display: flex;
                            margin-right: 20px;
                            label {
                                .hasCar-input {
                                    display: none;
                                }
        
                                
                                .fake {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid white;
                                    position: relative;
                                    border-radius: 50%;
                                }
        
                                .fake::before {
                                    content: "";
                                    position: absolute;
                                    top: 10px;
                                    left: 10px;
                                    transform: translate(-50%, -50%);
                                    display: block;
                                    width: 15px;
                                    height: 15px;
                                    background: white;
                                    border-radius: 50%;
                                    opacity: 0;
                                    cursor: pointer;
                                }
        
                                .hasCar-input:checked + .fake::before {
                                    opacity: 1;
                                }
                            }
    
                            .input-txt {
                                font-size: 18px;
                                color: #fff;
                                margin-left: 10px;
                            }
                        }
        
                        .scnd-lab {
                            display: flex;
                            margin-right: 10px;
                            label {
                                font-size: 18px;
                                color: #fff;
        
                                .hasCar-input {
                                    display: none;
                                }
        
                                .fake {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid white;
                                    position: relative;
                                    border-radius: 50%;
                                    cursor: pointer;
                                }
        
                                .fake::before {
                                    content: "";
                                    position: absolute;
                                    top: 10px;
                                    left: 10px;
                                    transform: translate(-50%, -50%);
                                    display: block;
                                    width: 15px;
                                    height: 15px;
                                    background: white;
                                    border-radius: 50%;
                                    opacity: 0;
                                }
        
                                .hasCar-input:checked + .fake::before {
                                    opacity: 1;
                                }
                            }
                        }
    
                        .input-txt {
                            font-size: 18px;
                            color: #fff;
                            margin-left: 10px;
                        }
                    }
                }
    
                .container-form {
                    display: flex;
                    flex-wrap: wrap;
                    .form {
                        position: relative;
                        height: 49px;
                        margin: 10px 0px;
                        min-width: 350px;
                        
                        .form__input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            color: #fff;
                            border: 1px solid rgba(0, 0, 0, 0);
                            border-radius: .5rem;
                            outline: none;
                            padding: 5px;
                            background: rgba(0, 0, 0, 0.26);
                            min-width: 300px;
                        }
                        
                        .form__label {
                            z-index: 1;
                            position: absolute;
                            left: 1rem;
                            top: 1rem;
                            padding: 0 .25rem;
                            color: #fff;
                            background-color: none;
                            font-size: 16px;
                            margin-top: 5px;
                            transition: .3s;
                        }
        
                        .form__input:focus + .form__label {
                            top: -.2rem;
                            left: .8rem;
                            color: white;
                            font-size: 14px;
                            font-weight: 500;
                            z-index: 10;
                        }
                        
                        // .form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label {
                        //     top: -.2rem;
                        //     color: white;
                        //     font-size: 14px;
                        //     font-weight: 500;
                        //     z-index: 10;
                        // }
                    }
                    .agree-radio {
                        display: flex;
                        align-items: center;
                        top: 0;
                        left: 23%;
                        margin-top: 10px;
                        color: #fff;
        
                        .checkbox {
                            display: none;
                        }
                        
                        .fake {
                            display: inline-block;
                            cursor: pointer;
                            width: 26px;
                            height: 26px;
                            border: 1px solid white;
                            position: relative;
                            border-radius: 20%;
                        }
        
                        .fake::before {
                            content: '';
                            position: absolute;
                            top: 13px;
                            left: 13px;
                            transform: translate(-50%, -50%);
                            display: block;
                            border: 1px solid #fff;
                            width: 13px;
                            height: 13px;
                            background: #fff;
                            opacity: 0;
                        }
        
                        .checkbox:checked + .fake::before {
                            opacity: 1;
                        }
        
                        .text-cb {
                            margin: 5px 0px 7px 10px;
                        }
        
                        .agree-link {
                            color: #fff;
                        }
                    }
                }
    
            }
    
            .btn__form {
                margin-top: 60px ;
                .btn-link {
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-weight: bolder;
                    border: 1px solid white;
                    padding: 13px 80px;
                    border-radius: 50px;
                    background: #fff;
                    box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.26);
                }
            }
    
            .apply {
                margin-top: 55px;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    
        @media screen and (max-width: 725px) {
            .wrapper {
                padding: 30px 0px 20px 0px;
                margin: 100px 100px 100px 30px;
                margin-top: 100px;
                max-width: 800px;
                .main-title {
                    h1 {
                        line-height: 1;
                        font-size: 48px;
                    }
                }
            }
        }
    
        @media screen and (max-width: 530px) {
            .wrapper {
                margin: 100px 50px 100px 50px;
            }
        }
    
        @media screen and (max-width: 536px) {
            .wrapper {
                margin: 100px 20px 100px 20px;
            }
        }
    }
}

//setion two
.wrapper-sections {
    .section-one {
        padding: 24px 15px 64px;
    
        .container__section {
            margin: 0 auto;
            margin-top: 100px;
            max-width: 1170px;
    
            .content__sect__one {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin-left: 40px;

                .logo-section {
                    font-size: 24px;
                    margin-bottom: 24px;
                    flex: 0 0 100%;
                    padding: 0px 13px;
                    font-family: 'proxima-nova', sans-serif;
                }
                
                .description__section {
                    flex: 0 0 66.66667%;
                    color: $color-text;
                    font-weight: 100;
                    padding: 0px 15px;
                    line-height: 1.5;
                    max-width: 670px;
                    font-family: 'proxima-nova', sans-serif;
                    .desc-link {
                        color: $color-link;
                    }
                }
    
                @media screen and (max-width: 1098px) {
                    .logo-section {
                        padding: 0px;
                    }
                    .description__section {
                        flex: 0 0 100%;
                        font-size: 15px;
                        padding: 0px;
                    }
                }
            }
            
            @media screen and (max-width: 1098px) {
                .content__sect__one {
                    margin-left: 0px;
                    padding: 0px 20px;
                }
            }
    
        }
        @media screen and (max-width: 728px) {
            .container__section {
                margin-top: 0px;
            }
        }
    }
    
    @media screen and (max-width: 1098px) {
        .section-one {
            padding: 0px 0px 64px;
        }
    }

    .section-two {
        padding: 24px 15px 64px;

        .container__section {
            margin: 0 auto;
            max-width: 1170px;
            
            .content__sect__two {
                margin-left: 40px;
                padding: 0px 24px;

                .logo-section {
                    font-size: 24px;
                    margin-bottom: 24px;
                    font-family: 'proxima-nova', sans-serif;
                }

                .tips-money-community {
                    display: flex;

                    .li-cont {
                        list-style: none;
                        padding: 0px 30px 0px 0px;
                        max-width: 320px;

                        .li-img {
                            width: 96px;
                            height: 96px;
                            margin: 16px 0px;
                        }

                        h6 {
                            text-transform: capitalize;
                            font-size: 16px;
                            line-height: 1.5;
                            font-family: 'proxima-nova', sans-serif;
                        }

                        p {
                            font-size: 16px;
                            line-height: 1.5;
                            color: $color-text;
                            font-family: 'proxima-nova', sans-serif;
                        }

                        .line {
                            opacity: 0;
                            width: 100%;
                            height: 47px;
                            border-bottom: 1px solid #EFEFF1;
                        }

                        @media screen and (max-width: 1098px) {
                            .line {
                                opacity: 1;
                            }
                        }
                    }

                    @media screen and (max-width: 1170px) {
                        .li-cont {
                            max-width: 200px;
                        }
                    }

                    @media screen and (max-width: 760px) {
                        .li-cont {
                            max-width: 100%;
                        }
                    }
                }

                @media screen and (max-width: 760px) {
                    .tips-money-community {
                        flex-direction: column;
                        .li-cont {
                            h6 {
                                font-size: 14px;
                            }

                            p {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 1098px) {
                .content__sect__two {
                    margin-left: 0px;
                    padding: 0px 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1098px) {
        .section-two {
            padding: 0px 0px 64px;
        }
    }

    .section-three {
        font-family: $font;
        background: #F3F3F5;
        padding: 64px 15px;
        .container__section__three {
            margin: 0 auto;
            max-width: 1170px;

            .content__sect__three {
                .cont__sect__one {
                    display: flex;

                    .cross {
                        margin: 0px 0px 8px 80px;
                        padding: 0px 15px;

                        .img-cross {
                            width: 128px;
                            height: 128px;
                            margin: 16px 41px;
                        }
                    }

                    
                    @media screen and (max-width: 990px) {
                        .cross {
                            margin: 0px 0px 8px 0px;
                        }
                    }

                    .description-cross {
                        padding: 0px 15px;
                        max-width: 570px;
                        h3 {
                            font-size: 28px;
                            line-height: 1.2;
                        }

                        p {
                            color: $color-text;
                            line-height: 1.5;
                            font-size: 16px;
                        }

                        a {
                            color: $color-link;
                        }
                    }

                }
                
                @media screen and (max-width: 760px) {
                    .cont__sect__one {
                        flex-direction: column;
                        .cross {
                            .img-cross {
                                margin: 0;
                            }
                        }
                    }
                }

                .cont__sect__two {
                    display: flex;
                    margin-top: 100px;
                    
                    .star {
                        margin: 0px 0px 8px 80px;
                        padding: 0px 15px;
                        
                        .img-star {
                            width: 128px;
                            height: 128px;
                            margin: 16px 41px;
                        }
                    }

                    @media screen and (max-width: 990px) {
                        .star {
                            margin: 0px 0px 8px 0px;
                        }
                    }
                    
                    
                    .description-star {
                        padding: 0px 15px;
                        max-width: 570px;
                        
                        h3 {
                            font-size: 28px;
                            line-height: 1.2;
                        }
                        
                        p {
                            color: $color-text;
                            line-height: 1.5;
                            font-size: 16px;
                        }
                    }
                }
                
                @media screen and (max-width: 760px) {
                    .cont__sect__two {
                        flex-direction: column;
                        .star {
                            .img-star {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        
        @media screen and (max-width: 990px) {
            .container__section__three {
                max-width: 650px;
            }
        }
    }
}

//section four
.section-four {
    font-family: $font;
    .container__section__four {
        margin: 20px auto;
        padding: 64px 15px;
        max-width: 1170px;
        .content__sect__four {
            h2 {
                font-size: 32px;
            }
            
            .line {
                width: 100%;
                height: 47px;
                border-bottom: 1px solid #EFEFF1;
            }
            
            .container__accordion {
                max-width: 600px;
                margin-left: 40%;
                margin-right: 100px;
                margin-top: 50px;
                .accord {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 0px 40px;

                    .accordion {
                        .title-accord {
                            max-width: 550px;
                            font-size: 28px;
                            font-weight: bolder;
                        }

                        @media screen and (max-width: 995px){
                            .title-accord {
                                max-width: 500px;
                            }
                        }
                    }   
                    .point {
                        cursor: pointer;
                        width: 15%;
                        display: flex;
                        justify-content: flex-end;
                        padding: 1px 6px;
                    }

                    .point-2 {
                        cursor: pointer;
                        width: 15%;
                        display: none;
                        justify-content: flex-end;
                        padding: 1px 6px;
                    }
                }

                .text-accord {
                    display: none;
                    max-width: 500px;
                    p {
                        color: $color-text;
                        line-height: 1.5;
                    }
                    a {
                        color: $color-link;
                    }
                }

                @media screen and (max-width: 995px){
                    .text-accord {
                        max-width: 370px;
                    }
                }
            }
            @media screen and (max-width: 995px){
                .container__accordion {
                    max-width: 700px;
                    margin: 0 auto;
                }
            }
        }
    }
}

//section four
footer {
    text-align: center;
    margin: 64px auto;
    padding: 16px 0px 64px;
    a {
        color: #000;
    }
}

//section five
.yes-or-no {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: white;
    z-index: 9999;
    .container__elements {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 8px 0px;
            padding: 0px 15px;
        }

        .no-btn {
            border: 2px solid #000;
            border-radius: 9999px;
            padding: 15px 50px;
            margin-left: 16px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 16px;
            color: #000;

            &:hover {
                background: #F5F5F7;
            }
        }

        .yes-btn {
            border-radius: 9999px;
            background: #785EF0;
            padding: 17px 70px;
            margin-left: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #FFF3FF;
                background: #9783F4;
            }
        }
    }
    @media screen and (max-width: 690px) {
        .container__elements {
            flex-direction: column;
            .no-btn {
                margin: 15px 0px;
            }

            .yes-btn {
                margin: 15px 0px;
            }
        }
    }
}

//section six
.modal-window {
    display: none;
    position: fixed;
    background: #09081dd3;
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-family: $font;

    .modal__container__content {
        background: white;
        max-width: 520px;
        padding: 15px;
        margin: 25vh auto;

        .modal-wrapper {
            padding: 24px;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h4 {
                    font-size: 20px;
                    line-height: 1.5;
                }

                .cross-to-close {
                    cursor: pointer;
                }
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                color: #717175;
            }

            .submit {
                margin-top: 15px;
                .list {
                    .radio {
                        margin-bottom: 24px;
                        line-height: 1.5;
                        .radio-label {
                            color: $color-text;
                            font-size: 16px;
                            cursor: pointer;

                            input {
                                margin-right: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                    @media screen and (max-width: 770px) {
                        .radio {
                            text-align: center;
                        }
                        .radio-label {
                            text-align: center;
                            padding: 10px 37px;
                            border: 3px solid #000;
                            border-radius: 9999px;

                            &:hover {
                                background: #F5F5F7;
                            }
                        }
                        input {
                            display: none;
                        }
                    }
                }

                .btn-link {
                    text-align: center;
                    margin: 50px 0px 20px 0px;
                    .submit-btn {
                        border-radius: 9999px;
                        padding: 15px 200px;
                        text-decoration: none;
                        color: white;
                        background: #785EF0;
                        font-weight: 900;
                        text-transform: uppercase;

                        &:hover {
                            color: #FFF3FF;
                            background: #9783F4;
                        }
                    }
                }
                @media screen and (max-width: 770px) {
                    .btn-link {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 770px) {
        .modal__container__content {
            max-width: 450px;
        }
    }
}